.card {
  margin-top: 5px;
  padding: 20px;
  background: #eee;
  box-shadow: 0 6px 12px #0005;
}

.card__container {
  padding: 20px;
  overflow: scroll;
}

.card__hints {
  display: flex;
  justify-content: space-evenly;
  padding: 0; /*warum???*/
}

.card__hints > li {
  border: 2px solid hotpink;
  padding: 2px;
  background-color: steelblue;
  color: white;
}

.card__button {
  background-color: steelblue;
  color: white;
  border-radius: 8px;
}

.card__button:hover {
  background-color: #4caf50;
  color: white;
}
